body {
    background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Pacifico', cursive;



}

ul {
    list-style-type: none;
}
 
.display-4 {
    font-size: 1.1rem;
    color: wheat;

}

li {
    padding: 5px 0px;
    font-family: 'Pacifico', cursive;
    color: wheat;

}

.container{
    position: fixed;
    /* bottom: 0px; */
    height: 40vh;
    bottom: 0px;
    

}

.row {
    margin-top: 5px;;
}

.tag-line {
    font-size: 1.25rem;
    margin-bottom: 3px;
    position: fixed;
    bottom: 0px;
}

a {
    color: wheat;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: wheat;
    text-decoration: none;
}


 
div > div > div > div.carousel-item > img {
    max-height: 45vh;
    height: 50vh;
}


